* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}
body {
    --hue:var(--hue-neutral);
    padding-top: 30%;
    padding-left: 15%;
    margin: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #2e4376;
    font-weight: bolder;
    color: aliceblue;
    font-size: 25px;
}
.container{
    border: 6px solid white;
    border-radius: 10px;
    width: 60%;
    padding: 10px 20px;
    display: none;
}
button{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container:hover {
    border-color: rgb(13, 14, 13);
}
body.correct {
    --hue: var(--hue-correct);
}
body.wrong {
    --hue: var(--hue-wrong);
}
